.top_div {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top_div_btn{
  margin-left: 5px;
}

.btn_box {
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.remind_text {
  margin-top: 10px;
  color: gray;
  padding-left: 10px;
}

.groupInfo {
  box-shadow: 0 0 10px 0 rgba(58, 58, 58, 0.07);
  margin-top: 20px;
  padding: 10px;
  color: dimgray;
}
.memberlist{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.memberBox{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}