.main {
  position: relative;
  padding: 10px 40px;
  margin-top: 10px;
  margin-left: 80px;
  width: 1000px;
  box-shadow: 0 0 10px 0 rgb(58 58 58 / 7%);
  margin-bottom: 30px;
}

.reset_btn{
  position: absolute;
  top: 20px;
  left: 20px;
}

.title {
  color: rgba(8, 14, 23, 0.9);
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.date {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.editTime {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.headOneNoClick {
  display: inline-block;
  margin: 10px 0 10px 0;
  color: gray;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.noClick{
  display: inline-block;
  margin: 10px 0 10px 0;
  color: rgba(8, 14, 23, 0.9);
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.headOne {
  margin: 10px 0 10px 0;
  color: rgba(8, 14, 23, 0.9);
  font-size: 22px;
  font-weight: 700;
}

.timeLine{
  display: flex;
  align-items: center;
  margin: 5px 0;

  .inputNumber{
    width: 300px;
  }

  .label{
    margin-left: 5px;
  }
}

.border{
  box-shadow: 0 0 10px 0 rgb(58 58 58 / 7%);
  padding: 10px;
  position: relative;
  margin-bottom: 5px;
}

.icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.submit{
  width: 200px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.preview{
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 999;
  background-color: white;
  height: 100%;
  width: 100%;
}

.back{
  position: relative;
}

.addIcon{
  width: 20px;
  height: 20px;
  display: block;
  margin: 5px auto;
  cursor: pointer;
}

.deleteIcon{
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.Teamworktitle{
  font-size: 18px;
  font-weight: 700;
  color: dimgray;
}

.urlBox{
  display: flex;
  flex-direction: row;
  margin: 2px 0;
  align-items: center;
}

.url{
  display: block;
  width: 400px;
}
.deleteFile{
  width: 10px;
  height: 10px;
  cursor: pointer;
  display: block;
  margin-left: 20px;
}

.type {
  padding: 2px;
  color: dimgray;
}

.time {
  padding: 2px;
  color: dimgray;
}